# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# Meta WhatsApp Cloud API (Official Free Tier)
META_ACCESS_TOKEN=
META_PHONE_NUMBER_ID=
META_WABA_ID=
